.dashboard-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #0d0f18;
  min-height: 100vh;
}

.actions-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.actions-row > :first-child {
  flex: 4;
}

.actions-row > :last-child {
  flex: 1;
}